<div class="welcome">
  <div class="title">
    <h1>My Little Blackjack</h1>
  </div>

  <div class="game_content">
    <% if flash[:notice] %>
      <p class="flash"><%= flash[:notice] %></p>
    <% end %>
    <div class="actions">
      <%= form_tag stats_user_url(current_user.id), :method => :get do %>
        <%= submit_tag "STATS", :class => "button pink" %>
      <% end %>

      <%= form_tag blackjacks_url, :method => :post do %>
        <%= submit_tag "NEW GAME", :class => "button purple" %>
      <% end %>
    </div>
    <h2>Games</h2>
    <div class="scrollable_content">
      <table class="games_list">
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Results</th>
          <th>Actions</th>
        </tr>
        <% @blackjacks.each do |blackjack| %>
          <tr>
            <td><%= blackjack.id %></td>
            <td><%= blackjack.created_at.strftime("%A, %B %d, %Y") %></td>
            <td><%= BlackjackHelper.display_results_short(blackjack.game_state) %></td>
            <td>
              <% if blackjack.game_state == Blackjack::STATE_ACTIVE %>
                <%= form_tag blackjack_url(blackjack.id) do %>
                  <%= submit_tag "KEEP PLAYING!", :class => "button blue" %>
                <% end %>
              <% else %>
                <%= form_tag blackjack_url(blackjack.id) do %>
                  <%= submit_tag "View Results", :class => "button gray" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
