<div class="welcome">
  <div class="title">
    <h1>My Little Blackjack</h1>
  </div>

  <div class="game_content">
    <h2>Games</h2>
    <div class="actions">
      <%= form_tag stats_user_url(current_user.id) do %>
        <p class="button"><%= submit_tag "#{current_user.name.upcase} STATS" %></p>
      <% end %>

      <%= form_tag blackjack_new_url(current_user.id) do %>
        <p class="button"><%= submit_tag "NEW GAME" %></p>
      <% end %>
    </div>
    <div class="scrollable_content">
      <table class="games_list">
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Results</th>
          <th>Actions</th>
        </tr>
        <% @blackjacks.each do |blackjack| %>
          <tr>
            <td><%= blackjack.id %></td>
            <td><%= blackjack.created_at.strftime("%A, %B %d, %Y") %></td>
            <td><%= BlackjackHelper.display_state(blackjack.game_state) %></td>
            <td>
              <% if blackjack.game_state == Blackjack::STATE_ACTIVE %>
                <%= form_tag blackjack_url(blackjack.id) do %>
                  <span class="button"><%= submit_tag "KEEP PLAYING!" %></span>
                <% end %>
              <% else %>
                <%= form_tag blackjack_url(blackjack.id) do %>
                  <span class="button"><%= submit_tag "View Results" %></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
