<div class="game_board">
  <div class="title">
    <h1>My Little Blackjack</h1>
  </div>

  <div class="game_content">
    <% if @blackjack.game_state != Blackjack::STATE_ACTIVE %>
      <h1 class="game_result"><%= BlackjackHelper.display_results(@blackjack) %></h1>
    <% end %>

    <% if flash[:notice] %>
      <p class="flash"><%= flash[:notice] %></p>
    <% end %>
    <div class="user_side">
      <h2><%= current_user.name %></h2>
      <div class="cards">
        <% @blackjack.get_user_hand.each do |card| %>
          <div class="playing_card <%= BlackjackHelper.get_card_classes(card) %>"></div>
        <% end %>
      </div>
    </div>

    <div class="dealer_side">
      <h2>Dealer</h2>
      <div class="cards">
        <% @blackjack.get_dealer_hand.each_with_index do |card, index| %>
          <% if index == 0 && @blackjack.game_state == Blackjack::STATE_ACTIVE %>
            <div class="playing_card card_back"></div>
          <% else %>
            <div class="playing_card <%= BlackjackHelper.get_card_classes(card) %>"></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @blackjack.game_state == Blackjack::STATE_ACTIVE %>
      <div class="actions card_actions">
        <div class="score">Score: <%= @blackjack.get_user_score %></div>

        <%= form_tag hit_blackjack_url(@blackjack.id) do %>
          <%= submit_tag "HIT", :class => "button blue" %>
        <% end %>

        <%= form_tag stand_blackjack_url(@blackjack.id) do %>
          <%= submit_tag "STAND", :class => "button green" %>
        <% end %>

        <div class="score">Score: ??</div>
      </div>
    <% end %>

  </div>
</div>
