<div class="welcome">
  <div class="title">
    <h1>My Little Blackjack</h1>
  </div>

  <div class="login">
    <h1>Log in</h1>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "flash" %>
    <% end %>

    <%= form_tag sessions_path do %>
      <p>
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </p>
      <p>
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </p>
      <%= submit_tag "Log in", :class => "button green" %>
    <% end %>
    <p class="center">Or sign up<%= link_to("here", sign_up_url) %></p>
  </div>
</div>
