<div class="welcome">
  <div class="title">
    <h2>Welcome to</h2>
    <h1>My Little Blackjack</h1>
  </div>

  <div class="login">
    <%= form_tag(create_user_url, method: "post") do %>
      <%= label_tag(:name, "Enter your name:") %><br/>
      <%= text_field_tag(:name) %><br/>
      <%= submit_tag("Start Playing!") %>
    <% end %>

    <% if flash[:login_error] %>
      <p class="login_error"><%= flash[:login_error] %></p>
    <% end %>
  </div>
</div>
