<!DOCTYPE html>
<html>
  <head>
    <title>MyLittleBlackjack</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="user_nav">
      <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log out", log_out_path %>
      <% else %>
        <%= link_to "Log in", log_in_path %> or
        <%= link_to "Sign up", sign_up_path %>
      <% end %>
    </div>
    <% if current_user %>
      <%= form_tag blackjacks_url, :method => :get do %>
        <%= submit_tag "Index", :class => "button back green" %>
      <% end %>
    <% end %>
    <div class="clear"></div>
    <div id="content">
      <%= yield %>
    </div>

  </body>
</html>
